/* ========== BASE STYLES ========== */

.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* #region Block page scroll*/
body:has(.backdrop.backdrop.is-open) {
  overflow: hidden;
}

/* #endregion */

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
/* ========== UTILITIES ========== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region Common*/

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #endregion */

/* #region Header*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation,
.address {
  display: none;
}

.header-nav-a,
.header-footer-a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  align-content: center;
}

.header-nav-a {
  padding: 16px 0;
}

.header-nav {
  display: flex;
  align-items: center;
}

.spn {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  display: block;
}

.burger-icon {
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .navigation {
    display: flex;
    gap: 40px;
    margin: 0;
    padding-left: 0;
    align-items: center;
  }
  .address {
    font-style: normal;
    display: block;
  }

  .header-li-active {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2e2f42;
  }

  .header-li-active:focus,
  .header-li-active:hover {
    color: #404bbf;
  }

  .header-li-active.current {
    position: relative;
    color: #404bbf;
  }

  .header-li-active.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .header-nav-a {
    padding: 24px 0;
    margin-right: 128px;
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    display: block;
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-nav-a {
    margin-right: 76px;
  }
  .header-footer-a {
    margin-bottom: 16px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }

  .address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* #endregion */

/* #region Mobile menu*/

.mobile-menu-container {
  position: relative;
  padding: 72px 0 40px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background 250ms ease-in-out;
  fill: #2e2f42;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-mobile {
  margin-bottom: auto;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 1000;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  transition: color 250ms ease-in-out;
}

.mobile-link.active {
  color: #404bbf;
}

.mobile-link:focus,
.mobile-link:hover {
  color: #404bbf;
}

.mobile-address {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-style: normal;
}

.mobile-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  transition: color 250ms ease-in-out;
  margin-bottom: auto;
}

.mobile-address-link.active {
  color: #404bbf;
}

.mobile-address-link:focus,
.mobile-address-link:hover {
  color: #404bbf;
}

.social-icon {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon.ocean:hover,
.social-icon.ocean:focus {
  background-color: #404bbf;
}

.social-net-item {
  width: 40px;
  height: 40px;
}

.instagram {
  fill: #f4f4fd;
}

.social-net-list {
  display: flex;
  gap: 40px;
  margin-top: 48px;
}
/* #endregion */

/* #region section hero*/
.btn {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background: #404bbf;
  color: #ffffff;
}

.hero {
  color: #ffffff;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background/background-pc-min.jpg);
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero .container {
  width: 100%;
}

@media (min-resolution: 1x) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/background/background-pc-min.jpg);
  }
}

@media (min-resolution: 2x) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/background/background-pc@2x-min.jpg);
  }
}

@media (min-resolution: 1x) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/background/background-tab-min.jpg);
  }
}

@media (min-resolution: 2x) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/background/background-tab@2x-min.jpg);
  }
}

@media (min-resolution: 1x) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/background/background-mob-min.jpg);
  }
}

@media (min-resolution: 2x) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/background/background-mob@2x-min.jpg);
  }
}

.hero-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 216px;
  margin: 0 auto 72px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 109px 0;
    max-width: 768px;
  }
  .hero-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 39px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    max-width: 1440px;
  }

  .hero-text {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px;
  }
}
/* #endregion */

/* #region section text*/
.section-text {
  padding: 96px 0; /* це треба буде виправити в медіа*/
}

.antena-svg {
  display: none; /* це треба буде виправити в медіа*/
}

.section-text-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.section-text-method {
  width: 100%;
}

.section-text-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.section-text-p {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .section-text-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }
  .section-text-method {
    width: calc((100% - 24px) / 2);
  }

  .section-text-main,
  .section-text-p {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .antena-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
  }
  .section-text-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }
  .section-text-h2,
  .section-text-main {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0 auto 8px auto;
  }
  .section-text-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .section-text {
    padding: 120px 0;
  }

  .section-text-method {
    width: calc((100% - 72px) / 3);
  }
}
/* #endregion */

/* #region section our-team*/

.our-team {
  background: #f4f4fd;
  padding: 96px 0;
}

.our-team .container {
  text-align: center;
  color: #2e2f42;
}

.our-team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.network-list {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.network-item {
  width: 40px;
  height: 40px;
}

.out-team-mark-guerrero {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.our-team-des {
  display: flex;
  text-align: center;
  padding: 32px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-team-li {
  max-width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

.our-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .our-team-list {
    flex-direction: row;
    row-gap: 64px;
    column-gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .our-team {
    padding: 120px 0;
  }
}
/* #endregion */

/* #region section portfolio*/

.portfolio {
  padding: 96px 0;
}

.portfolio-text {
  text-align: center;
  margin-bottom: 72px;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-li {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.taburet {
  position: relative;
  overflow: hidden;
}

.portfolio-text-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.taburet-paragraf {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover .taburet-paragraf {
  transform: translateY(0%);
}

.aplications {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.portfolio-text-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }

  .portfolio-li {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-li {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }

  .portfolio-li:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .portfolio {
    padding: 120px 0;
  }

  .portfolio-list {
    row-gap: 40px;
  }
}
/* #endregion */

/* #region section footer*/

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.spn-footer {
  color: #f4f4fd;
}

.header-footer-a {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-p {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  margin-top: 0;
  max-width: 288px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.social-text {
  margin-bottom: 16px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
}

.footer-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.social-icon.green {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.input-footer {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: border 250ms ease-in;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sub-config {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.sub-btn {
  max-width: 165px;
  max-height: 40px;
  padding: 8px 24px 8px;
  text-align: left;
  display: flex;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.social-icon.green:hover,
.social-icon.green:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 96px 0;
  }

  .header-footer-a {
    justify-content: flex-start;
  }

  .container-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    padding: 0 108px;
  }

  .footer-text {
    max-width: 264px;
  }

  .subscribe {
    text-align: left;
    justify-content: center;
    align-items: center;
  }

  .input-footer {
    width: 264px;
  }
  .social-text {
    text-align: left;
    margin-right: auto;
  }

  .form-subscribe {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer .container {
    padding: 0 15px;
    gap: 0;
  }

  .footer-p {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;
    max-width: 264px;
  }

  .footer-text {
    margin-right: 120px;
  }

  .footer-social {
    display: flex;
    gap: 16px;
  }

  .footer-list {
    display: flex;
    list-style-type: none;
    gap: 16px;
  }

  .social-icon.green {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-icon.green:hover,
  .social-icon.green:focus {
    background-color: #31d0aa;
  }

  .subscribe {
    margin-left: auto;
  }

  .form-subscribe {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .input-footer {
    width: 264px;
    height: 40px;
    opacity: 1;
  }

  .input-footer::placeholder {
    color: white;
    pointer-events: none;
  }
}
/* #endregion */

/* #region backdrop*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.model {
  background-color: #fcfcfc;
  width: 288px;
  min-height: 584px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  padding: 72px 16px 24px 16px;
  transition: 150ms ease-in;
  transition-property: opacity, transform;
  opacity: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open .model {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.model-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background 250ms ease-in-out;
  fill: #2e2f42;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-btn:focus,
.model-btn:hover {
  border: none;
  color: #ffffff;
  background-color: #404bbf;
}

.input-container {
  position: relative;
}

.model-btn-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-title {
  text-align: center;
  font-weight: 500;
  max-width: 360px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-container {
  margin-bottom: 16px;
}

.name-form {
  margin-bottom: 8px;
}
.model-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.model-input {
  padding: 11px 38px;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: none;
  transition: border 250ms ease-in;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-input:focus {
  border: 1px solid #4d5ae5;
}

.model-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms ease-in;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-input:focus + .model-input-icon {
  fill: #4d5ae5;
}

.model-form-message {
  resize: none;
  padding: 8px 16px;
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  transition: border 250ms ease-in;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-form-message:focus {
  border: 1px solid #4d5ae5;
}

.model-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-chekbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  max-height: 16px;
  margin-top: 16px;
  margin-bottom: 30px;
}

.link-checkbox {
  color: #4d5ae5;
}

.form-checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.svg-checkbox {
}

.model-term {
  font-size: 14px;
  color: #555;
  margin-bottom: 24px;
  max-width: 360px;
  height: 16px;
}

.model-term .check-privacy {
  width: 16px;
  height: 16px;
}

.check-privacy:checked ~ .label-privacy .span-privacy {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}

.link-checkbox {
  color: #4d5ae5;
  text-decoration: underline;
}

.label-privacy {
  display: flex;
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
  align-items: center;
}

.span-privacy {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  flex-shrink: 0;
}

.btn-submit {
  background-color: #4d5ae5;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 0;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit:hover {
  background-color: #3b49c0;
}

.spn-last {
}

@media screen and (min-width: 768px) {
  .model {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }

  .label-privacy {
    display: block;
  }
}
/* #endregion */
