/* #region Global settings*/
.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #endregion */

/* #region visually-hidden*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion */

/* ========== BUTTONS ========== */

.btn {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background: #404bbf;
  color: #ffffff;
}
/* #region header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-a,
.header-footer-a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  align-content: center;
}

.header-nav-a {
  padding: 16px 0;
  display: block;
}

.spn {
  color: #2e2f42;
}

.burger-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}

.burger-icon {
  fill: #2f2f37;
  display: block;
}

.navigation,
.address {
  display: none;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-nav-a {
    margin-right: 120px;
  }
  .navigation {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding-left: 0;
    align-items: center;
    text-decoration: none;
  }
  .navigation a {
    color: #2e2f42;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation a:hover,
  .navigation a:focus,
  .navigation a:active {
    color: #404bbf;
  }

  .address {
    display: flex;
  }
  .header-nav-a {
    padding: 24px 0;
    display: block;
  }
  .header-li-active {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-footer-a {
    margin-bottom: 16px;
  }
  .address-link {
    color: #434455;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-style: normal;
  }
  .header-nav-a,
  .header-footer-a {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: inline-block;
    align-content: center;
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  .header-li-active {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-li-active:focus {
    color: #404bbf;
  }

  .header-li-active.current {
    position: relative;
    color: #404bbf;
  }

  .header-li-active.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
}
/* #endregion */

/* #region hero section*/

.hero {
  color: #ffffff;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: block;
}
.hero-text {
  font-size: 36px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin: 0 auto 48px;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }

  .hero-text {
    font-size: 56px;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    color: #ffffff;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }
}

/* #endregion */

/* #region section text*/

.section-text {
  padding: 96px 0;
}
.antena-svg {
  display: none;
}

.section-text-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0 auto 8px auto;
  text-align: center;
}

.section-text-p {
  margin-bottom: 8px;
}
.section-text-list,
.section-text-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .section-text-list {
    max-width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .section-text-method {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-text {
    padding: 120px 0;
  }
  .antena-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
  }

  .section-text-list {
    max-width: 1158px;
    flex-direction: row;
    gap: 24px;
  }

  .section-text-method {
    width: calc((100% - 72px) / 4);
  }
}
/* #endregion */

/* #region section our-team*/

.our-team {
  background: #f4f4fd;
  padding: 96px 0;
}

.our-team .container {
  flex-direction: column;
  align-items: center;
}

.our-team-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  font-weight: 700;
}

.our-team-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
  align-items: center;
}

.our-team-li {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  max-width: 264px;
}

.our-team-des {
  display: flex;
  text-align: center;
  padding: 32px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.out-team-mark-guerrero {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.social-network {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
}

.social-icon {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon.ocean:hover,
.social-icon.ocean:focus {
  background-color: #404bbf;
}

.network-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 24px;
}

.instagram {
  fill: #f4f4fd;
}

.network-item {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .our-team-list {
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .our-team-li {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .our-team-li {
    width: calc((100% - 72px) / 4);
  }

  .our-team {
    padding: 120px 0;
  }
} /* #endregion */

/* #region section portfolio*/

.portfolio {
  padding: 96px 0;
}

.portfolio .container {
  flex-direction: column;
}

.portfolio-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* #endregion */
/* #region Block page scroll*/
/* body:has(.backdrop.backdrop.is-open) {
  overflow: hidden;
} */

/* #endregion */
